.container {
    /* max-width: none; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-brand {
    font-size: 36px;
}

.search-header {
    font-size: 24px;
    font-weight: bold;
}

.cityName {
    font-size: 30px;
}

.forecast-date {
    font-size: 18px;
}

.today {
    font-weight: bold;
    padding-top: 10px;
}