/*style for container*/

.container-md {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-brand {
    font-size: 36px;
}

.search-header {
    font-size: 18px;
    font-weight: bold;
}


/*style for cityName class*/

.cityName {
    font-size: 25px;
}


/*style for forecase date*/

.forecast-date {
    font-size: 18px;
}

.today {
    font-weight: bold;
    padding-top: 10px;
}

#weather {
    background-color: bisque;
}


/*style for horizontal rule*/

#hori {
    background-color: black;
}